---
import Page from "../comp/Page.astro";
---

<Page>
    <h1 class="mt-12 text-center font-bold text-6xl">404</h1>
    <p class="mt-4 text-center text-black-800 text-2xl">You know what that means :/</p>
</Page>