---
import Page from "../components/Page.astro";
---

<Page title="Art — Tobias Hillemanns">
    <h1 class="px-6 pt-12 font-bold text-3xl expanded">Art</h1>
    <p class="p-6">There does not seem to be much here...</p>
</Page>