---
import Page from "@/comp/Page.astro";
---

<Page imagePreloadList={["/socials/yt.webp", "/socials/ig.webp"]}>
    <svg xmlns="http://www.w3.org/2000/svg" auto-height id="graphic" class="absolute left-0 top-0 -z-50 h-full w-full opacity-0 transition-[opacity] ease-out duration-1000">
        <filter id="m" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
            <feGaussianBlur in="SourceGraphic" stdDeviation="30" result="blur"/>
            <feComponentTransfer result="comp" in="blur" id="components">
                <feFuncR type="table" tableValues="0 0   0   0 1"/>
                <feFuncG type="table" tableValues="1 0.6 0.3 1 1"/>
                <feFuncB type="table" tableValues="1 1   1   1 1"/>
            </feComponentTransfer>
            <feColorMatrix type="matrix" values="
                1  0  0  0  0
                0  1  0  0  0
                0  0  1  0  0
                0  0  1  0  0
            "/>
        </filter>
        <g filter="url(#m)">
            <rect width="100%" height="100%" fill="#fff"/>
            <g style="transform: translateX(50%);" id="circles">
                <path d="M347 291C440 238.5 668.6 58.1 718.3 375.8S1110.8 638.1 670.5 844.8 285.4 830.9 414 699.4 303.3 508.7 154.1 662.3 253.8 940.3 35.2 923.7-471 823.5-591.8 629.5-882.7 65.6-459 295.3 78.1 444.5 347 291zM-200 1100c232 223 115.009 307.8785 349.002 162.0025 233.994-145.8761 265.98 522.973-218.003 310.997-483.984-211.977-306.999-663.9995-130.999-472.9995z" fill="#000000" stroke="none" />
                <circle r="80" cx="600" cy="600" fill="#000" id="move" class="transition-[opacity] opacity-0 duration-[0.3s] ease-[cubic-bezier(0.07,0.7,0.27,1)]"/>
            </g>
        </g>
    </svg>
    <section class="p-6">
        <h1 class="font-bold text-4xl mt-6 expanded tracking-tight">Hi, I'm Tobias!</h1>
        <p class="text-xl mt-3">I do coding, music and art.</p>
        <a href="/explore/" class="inline-block mt-7 text-xl bg-black text-white expanded px-4 rounded-full py-1 font-semibold hover:bg-black/70 transition">Explore →</a>
        <p id="info" class="mt-8 text-sm select-none text-black/50 transition-[opacity] duration-700">
            Point using
            <code class="inline-block bg-white/20 backdrop-blur-md rounded-md px-1">LeftClick</code><br>
            Draw using <code class="inline-block bg-white/20 backdrop-blur-md rounded-md px-1">ALT+LeftClick</code>
        </p>
    </section>
</Page>

<script>
    import {isDarkModeQuery, isDarkMode} from "@/util";

    const svg = document.querySelector<SVGSVGElement>("#graphic")!;
    const fect = svg.querySelector<SVGFEComponentTransferElement>("#components")!;
            
    const setDarkMode = () => {
        fect.innerHTML = `
        <feFuncR type="table" tableValues="0 0   0 0   0"/>
        <feFuncG type="table" tableValues="0   0   0 0   0"/>
        <feFuncB type="table" tableValues="1 0.3 1 0.3 0"/>`;
    };

    const setLightMode = () => {
        fect.innerHTML = `
        <feFuncR type="table" tableValues="0 0   0   0 1"/>
        <feFuncG type="table" tableValues="1 0.6 0.3 1 1"/>
        <feFuncB type="table" tableValues="1 1   1   1 1"/>`;
    };
    
    const dmq = isDarkModeQuery();
    if(isDarkMode(dmq)) setDarkMode();
    dmq.onchange = event => isDarkMode(event) ? setDarkMode() : setLightMode();

    svg.classList.remove("opacity-0");
    
    const cursorCircle = document.querySelector("#move")!;
    const circles = document.querySelector("#circles")!;
    const info = document.querySelector("#info")!;

    const heightUpdateTargets = document.querySelectorAll("[auto-height]");

    const updateHeight = () => heightUpdateTargets.forEach(el => el.setAttribute("height", `${document.body.scrollHeight}`));
    const obs = new ResizeObserver(updateHeight);
    obs.observe(document.body);
    updateHeight();
    heightUpdateTargets.forEach(el => el.classList.remove("h-full"));

    // (onresize = () => {
    //     svg.setAttribute("viewBox", `${-document.body.clientWidth / 2 + 150} 0 ${document.body.clientWidth} ${document.body.scrollHeight}`);
    //     svg.setAttribute("width", "" + document.body.clientWidth);
    //     svg.setAttribute("height", "" + document.body.scrollHeight);
    // })();

    if(!navigator.maxTouchPoints) {
        const spawn = (e: MouseEvent) => {
            if(!e.altKey) return;

            info.classList.add("opacity-0");

            const clone = cursorCircle.cloneNode() as SVGCircleElement;
            clone.removeAttribute("id");
            circles.append(clone);

            // cursorCircle.setAttribute("r", String(70));
        };

        document.onmousemove = e => {
            const {x, y} = svg.getBoundingClientRect();

            cursorCircle.setAttribute("cx", "" + (e.clientX - x - document.body.clientWidth / 2));
            cursorCircle.setAttribute("cy", "" + (e.clientY - y));
            
            if(e.buttons === 1) spawn(e);
        };

        document.onkeydown = e => {
            if(e.altKey)
                document.body.classList.add("select-none");
        };

        document.onkeyup = e => {
            if(!e.altKey)
                document.body.classList.remove("select-none");
        }

        document.onmousedown = e => {
            spawn(e);
            
            cursorCircle.classList.remove("opacity-0");
            cursorCircle.classList.add("opacity-100");
        };

        document.onmouseup = () => {
            cursorCircle.classList.remove("opacity-100");
            cursorCircle.classList.add("opacity-0");
        };
    }
</script>