---
import HeroSection from "../components/HeroSection.astro";
import Page from "../components/Page.astro";
---

<Page imagePreloadList={["/socials/yt.webp", "/socials/ig.webp"]}>
    <svg xmlns="http://www.w3.org/2000/svg" id="graphic" viewBox="0 0 1000 1000" class="absolute top-0 left-0 -z-50">
        <filter id="m" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="100%" width="200%" x="-50%" y="0">
            <feGaussianBlur in="SourceGraphic" stdDeviation="30" result="blur"/>
            <feComponentTransfer in="blur">
                <feFuncR type="table" tableValues="0 0   0   0 1"/>
                <feFuncG type="table" tableValues="1 0.6 0.3 1 1"/>
                <feFuncB type="table" tableValues="1 1   1   1 1"/>
            </feComponentTransfer>
        </filter>
        <g filter="url(#m)" id="circles">
            <rect width="100%" height="100%" fill="#fff" x="0"/>
            <path d="M361.383 218.2841C548.897 219.0014 646.246 85.1913 718.107 269.3574 789.969 453.523 917.71 686.32 633.104 619.87 348.492 553.416 342.278 645.662 457.096 444.862 571.911 244.0627 217.324 266.3366 184.086 474.861 150.847 683.386 643.276 707.742 348.082 714.354 52.8877 720.966-50.5163 640.255 20.582 371.855 91.6802 103.4556 173.866 217.5669 361.383 218.2841ZM-200 1000c232 223 115.009 307.8785 349.002 162.0025 233.994-145.8761 265.98 522.973-218.003 310.997-483.984-211.977-306.999-663.9995-130.999-472.9995z" fill="#000000" stroke="none" />
            <circle r="60" cx="600" cy="600" fill="#000" id="move" class="transition-[opacity] opacity-0 duration-[0.3s] ease-[cubic-bezier(0.07,0.7,0.27,1)]"/>
        </g>
    </svg>
    <section class="p-6 h-[700px]">
        <h1 class="font-bold text-4xl mt-6 expanded">Hi, I'm Tobias!</h1>
        <p class="text-xl mt-3">I do coding, music and art.</p>
        <button id="scroll" class="inline-block mt-7 text-xl bg-black text-white expanded px-4 rounded-full py-1 font-semibold hover:bg-black/70 transition">Explore ↓</button>
        <p id="info" class="mt-8 text-sm select-none text-black/50 transition-[opacity] duration-700">
            Point using
            <code class="bg-black/10 rounded-md px-1">LeftClick</code><br>
            Draw using <code class="bg-black/10 rounded-md px-1">ALT+LeftClick</code>
        </p>
    </section>
    <section id="projects" class="p-6">
        <h2 class="font-semibold text-3xl expanded">Projects</h2>
        <HeroSection title="Vine" href="https://github.com/Trombecher/vine">
            I am working on a general purpose programming language called <i>Vine</i>, because I was dissatisfied using TypeScript.
        </HeroSection>
        <HeroSection title="Aena" href="https://github.com/Trombecher/aena">
            I also have been working on a web framework for single-page-applications called
            <i>Aena</i>,
            because I disliked React.
        </HeroSection>
    </section>
    <section class="p-6">
        <h2 class="font-semibold text-3xl expanded">Contact</h2>
        <p class="mt-3">Write me a DM on 𝕏!</p>
        <div class="mt-3 flex">
            <a class="p-2 hover:bg-black/10 flex items-center justify-center trasition rounded-xl" href="https://www.youtube.com/@Trombecher" title="YouTube">
                <img src="/socials/yt.webp" alt="YouTube Icon" width="32" height="22.5"/>
            </a>
            <a class="p-2 hover:bg-black/10 flex items-center justify-center trasition rounded-xl" href="https://github.com/trombecher" title="GitHub">
                <svg viewBox="0 0 98 96" width="32" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#24292f"/></svg>
            </a>
            <a class="p-2 hover:bg-black/10 flex items-center justify-center trasition rounded-xl" href="https://www.instagram.com/Trombecher" title="Instagram">
                <img src="/socials/ig.webp" alt="Instagram Icon" width="32" height="32"/>
            </a>
            <a class="p-2 hover:bg-black/10 flex items-center justify-center trasition rounded-xl" href="https://x.com/trombecher" title="𝕏">
                <svg width="32" viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="black"/>
                </svg>
            </a>
        </div>
    </section>
    <div id="test"></div>
</Page>

<script>
    const anchor = document.querySelector("#projects")! as HTMLDivElement;
    (document.querySelector("#scroll")! as HTMLButtonElement).onclick = () => scrollTo({
        left: 0,
        top: anchor.getBoundingClientRect().y,
        behavior: "smooth"
    })
</script>

<script>
    const svg = document.querySelector("#graphic")!;
    const cursorCircle = document.querySelector("#move")!;
    const circles = document.querySelector("#circles")!;
    const info = document.querySelector("#info")!;
    
    (onresize = () => {
        svg.setAttribute("viewBox", `${-document.body.clientWidth / 2 + 150} 0 ${document.body.clientWidth} ${document.body.scrollHeight}`);
        svg.setAttribute("width", "" + document.body.clientWidth);
        svg.setAttribute("height", "" + document.body.scrollHeight);
    })();

    if(!navigator.maxTouchPoints) {
        const spawn = (e: MouseEvent) => {
            if(!e.altKey) return;

            info.classList.add("opacity-0");

            const clone = cursorCircle.cloneNode() as SVGCircleElement;
            clone.removeAttribute("id");
            circles.append(clone);

            // cursorCircle.setAttribute("r", String(70));
        };

        document.onmousemove = e => {
            const {x, y} = svg.getBoundingClientRect();

            cursorCircle.setAttribute("cx", "" + (e.clientX - x - document.body.clientWidth / 2 + 150));
            cursorCircle.setAttribute("cy", "" + (e.clientY - y));
            
            if(e.buttons === 1) spawn(e);
        };

        document.onkeydown = e => {
            if(e.altKey)
                document.body.classList.add("select-none");
        };

        document.onkeyup = e => {
            if(!e.altKey)
                document.body.classList.remove("select-none");
        }

        document.onmousedown = e => {
            spawn(e);
            
            cursorCircle.classList.remove("opacity-0");
            cursorCircle.classList.add("opacity-100");
        };

        document.onmouseup = () => {
            cursorCircle.classList.remove("opacity-100");
            cursorCircle.classList.add("opacity-0");
        };
    }
</script>