---
import Page from "../components/Page.astro";
---

<Page>
    <main class="p-6">
        <p>
            A NEW ERA...
        </p>
        <a class="block bg-black text-white px-4 py-1 rounded-full mt-3" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">GO ⮕</a>
    </main>
</Page>