---
import "../theme-ln.css";
import LinkNet from "../net/LinkNet";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/fi.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="description" content=""/>
    <title>Tobias' Link Net</title>
</head>
<body class="min-h-full bg-shade-950 text-white flex flex-col items-center">
<LinkNet client:load/>
</body>
</html>
