<color-picker>
    <div style="--hue: 0" class="mb-4 flex overflow-hidden rounded-3xl w-full h-52 bg-gradient-to-r from-[#fff] to-[hsl(var(--hue)_100%_50%)]">
        <div style="padding-left: 40px;" class="bg-gradient-to-b from-[#0000] to-[#000] w-full h-full">
            <div class="w-4 h-4 -mt-2 -ml-2 border-2 border-[#fff] rounded-full">
                <div class="w-3 h-3 border-2 border-[#000] rounded-full"></div>
            </div>
        </div>
    </div>
    <div class="p-4 rounded-3xl">
        <div>#000000</div>
        <div>rgb(0 1 0)</div>
        <div>rgb(255 0 0)</div>
        <div>hsl</div>
        <div>hsb</div>
        <div>cmyk</div>
    </div>
</color-picker>

<script>
    import { toHSLFromHSV, type HSV } from "allc";

    document.querySelectorAll<HTMLElement>("color-picker")!.forEach(container => {
        const hueArea = container.firstElementChild! as HTMLDivElement;
        const pickerArea = hueArea.firstElementChild! as HTMLDivElement;
        const targetDiv = hueArea.nextElementSibling! as HTMLDivElement;

        const setHandlePos = (pageX: number, pageY: number) => {
            const rx = pageX - pickerArea.offsetLeft,
                ry = pageY - pickerArea.offsetTop;

            pickerArea.style.paddingLeft = `${Math.max(Math.min(rx, pickerArea.offsetWidth), 0)}px`;
            pickerArea.style.paddingTop = `${Math.max(Math.min(ry, pickerArea.offsetHeight), 0)}px`;

            updateColor();
        };

        const updateColor = () => {
            const hsv: HSV = {
                h: +getComputedStyle(hueArea).getPropertyValue("--hue"),
                s: +pickerArea.style.paddingLeft.slice(0, -2) / pickerArea.offsetWidth,
                v: 1 - +pickerArea.style.paddingTop.slice(0, -2) / pickerArea.offsetHeight,
            };
            
            const {h, s, l} = toHSLFromHSV(hsv);
            targetDiv.style.backgroundColor = `hsl(${h} ${s * 100}% ${l * 100}%)`;
            targetDiv.style.color = l > .5 ? "#000" : "#fff";
        }

        pickerArea.onmousedown = e => {
            setHandlePos(e.pageX, e.pageY);

            document.body.classList.add("select-none");

            document.onmousemove = e => setHandlePos(e.pageX, e.pageY);

            document.onmouseup = () => {
                document.body.classList.remove("select-none");
                document.onmousemove = document.onmouseup = null;
            }
        }

        // const colorInput = container.querySelector<HTMLInputElement>("input[type=\"color\"]")!;
        // colorInput.oninput = () => targetDiv.style.backgroundColor = `${colorInput.value}`;
    });
</script>