---
import {
    UPPER_CASE,
    LOWER_CASE,
    NUMBERS,
    SYMBOLS
} from "@/util";
---

<div class="block mb-4 bg-black/10 rounded-3xl p-4 mt-12">
    <div class="text-xl font-semibold mb-4 text-black">Character Set</div>
    <div class="flex flex-wrap mb-2 gap-2" id="chips">
        {([
            "Upper Case",
            "Lower Case",
            "Numbers",
            "Symbols"
        ] as const).map(x => (
            <button class="px-3 rounded-full text-white bg-black">
                {x}
            </button>
        ))}
    </div>
    <input
        type="text"
        value={UPPER_CASE + LOWER_CASE + NUMBERS + SYMBOLS}
        id="charset"
        class="mt-1 w-full px-4 py-1 font-mono border border-black/20 mb-2 rounded-full bg-white"
    />
</div>
<label class="block mb-4 bg-black/10 p-4 rounded-3xl">
    <div class="text-xl font-semibold mb-4 text-black">
        Length: <span id="out-char-count">32</span>
    </div>
    <input
        type="range"
        class="accent-blue block mt-1 w-full"
        min="8"
        max="128"
        step="1"
        id="char-count"
        value="32"
    />
</label>
<div class="p-4 bg-black/10 rounded-3xl">
    <div class="text-xl font-semibold mb-4 text-black">Output</div>
    <label class="block mb-4">
        <input
            type="checkbox"
            id="show-password"
            class="accent-blue"
        />
        Show Password
    </label>
    <div class="text-sm pb-1">Click On Password To Copy</div>
    <div class="flex gap-4">
        <input
            id="target"
            readonly
            type="password"
            class="outline-none w-full px-4 py-1 border border-black/20 rounded-full font-mono cursor-pointer bg-black/0 hover:bg-black/10 transition select-none active:bg-black/50"
        />
        <button id="gen" class="text-white dark:text-black shrink-0 block bg-blue px-4 rounded-full font-semibold hover:brightness-90 active:brightness-75 transition">
            Generate
        </button>
    </div>
</div>

<script>
    import {
        UPPER_CASE,
        LOWER_CASE,
        NUMBERS,
        SYMBOLS,
        generatePassword,
        escapeRegExp
    } from "@/util";

    const charCount = document.querySelector<HTMLInputElement>("#char-count")!;
    const outCharCount = document.querySelector<HTMLSpanElement>("#out-char-count")!;
    const charset = document.querySelector<HTMLInputElement>("#charset")!;
    const target = document.querySelector<HTMLInputElement>("#target")!;
    const gen = document.querySelector<HTMLButtonElement>("#gen")!;
    const chips = document.querySelector<HTMLDivElement>("#chips")!;
    
    target.onclick = () => navigator.clipboard.writeText(target.value);

    const setGeneratePassword = () => target.value = generatePassword(+charCount.value, charset.value);
    gen.onclick = setGeneratePassword;

    charCount.oninput = () => {
        setGeneratePassword();
        outCharCount.textContent = charCount.value;
    };

    charset.oninput = setGeneratePassword;

    setGeneratePassword();

    const CHIP_MAP = [
        UPPER_CASE,
        LOWER_CASE,
        NUMBERS,
        SYMBOLS
    ] as const;

    let i = 0;

    for(const chip of chips.children) {
        const LETTERS = CHIP_MAP[i++]!;

        const re = new RegExp(`[${escapeRegExp(LETTERS)}]`, "g");

        (chip as HTMLButtonElement).onclick = () => {
            // If is activated
            if(chip.classList.contains("text-white")) {
                charset.value = charset.value.replaceAll(re, "");
                chip.classList.remove("text-white", "bg-black");
                chip.classList.add("bg-white");
            } else {
                charset.value = LETTERS + charset.value.replaceAll(re, "");
                chip.classList.remove("bg-white");
                chip.classList.add("text-white", "bg-black");
            }

            setGeneratePassword();
        };
    };

    document.querySelector<HTMLInputElement>("#show-password")!.oninput = e => {
        // @ts-ignore
        if(e.currentTarget!.checked) {
            target.type = "text";
        } else {
            target.type = "password";
        }
    }
</script>