---
import {
    UPPER_CASE,
    LOWER_CASE,
    NUMBERS,
    SYMBOLS
} from "@/util";

const prepopulated = UPPER_CASE + LOWER_CASE + NUMBERS + SYMBOLS;
---

<div class="block mb-4 bg-black/10 rounded-3xl p-4 mt-12">
    <div class="text-xl font-semibold mb-4 text-black">
        Character set with
        unique characters:
        <span id="set-char-count">{(UPPER_CASE + LOWER_CASE + NUMBERS + SYMBOLS).length}</span>
    </div>
    <div id="chips">
        {([
            "Upper Case",
            "Lower Case",
            "Numbers",
            "Symbols"
        ] as const).map(x => (
            <label class="block *:cursor-pointer cursor-pointer hover:bg-black/10 w-fit px-3 rounded-full mb-1">
                <input type="checkbox" checked class="mr-1 accent-blue"> {x}
            </label>
        ))}
    </div>
    <label class="select-none block *:cursor-pointer cursor-pointer hover:bg-black/10 w-fit px-3 rounded-full my-4">
        <input type="checkbox" id="allow-duplicates" class="mr-1 accent-blue"> Allow Duplicates
    </label>
    <label class="block">
        <span class="text-sm text-black/60 ml-4">Edit manually ↓</span>
        <textarea placeholder="Enter some characters..." spellcheck="false" rows="4" id="charset" class="break-all placeholder:text-black/70 block mt-1 w-full px-4 py-2 font-mono border border-black/20 rounded-xl bg-white/10 resize-y focus-visible:border-white/0">{prepopulated}</textarea>
    </label>
</div>
<label class="block mb-4 bg-black/10 p-4 rounded-3xl">
    <div class="text-xl font-semibold mb-4 text-black">
        Length: <span id="out-length">32</span>
    </div>
    <input
        type="range"
        class="accent-blue block mt-1 w-full"
        min="16"
        max="128"
        step="1"
        id="length"
        value="32"
    />
</label>
<div class="p-4 mb-4 bg-black/10 rounded-3xl" id="output">
    <div class="text-xl font-semibold mb-4 text-black">Output / Test Strength</div>
    <div class="flex mb-4">
        <label class="block mr-auto">
            <input
                type="checkbox"
                id="show-password"
                class="accent-blue"
            />
            Show Password
        </label>
        <button id="gen" class="text-white shrink-0 block bg-black hover:bg-black/80 active:bg-black/60 px-4 py-1 rounded-full font-semibold transition">
            Regenerate
        </button>
    </div>
    <label class="block text-sm text-black/60 ml-4" for="password-box">
        Password ↓
    </label>
    <div class="w-full flex rounded-full overflow-hidden mb-4 mt-1">
        <input
            id="password-box"
            type="password"
            class="outline-none w-full px-4 py-1 font-mono bg-black/10 select-none"
        />
        <button class="text-white bg-black hover:bg-black/80 active:bg-black/60 py-1 font-semibold transition w-20" id="copy">Copy</button>
    </div>
    <div id="password-source-info"></div>
</div>
<div class="p-4 rounded-3xl bg-blue/30">
    <div class="text-xl font-semibold mb-4 text-black">
        Strength: <span id="entropy">210.24</span> bits
    </div>
    <div id="out-strength" class="text-2xl expanded font-bold mb-2">Very Strong</div>
    <div id="out-strength-description" class="mb-4">This password offers maximum security.</div>
    <div>
        It would <b>take <span id="cracking-time">???</span></b>
        to crack this password with the most powerful hardware (10¹² guesses per second) available using
        <a href="https://en.wikipedia.org/wiki/Brute-force_attack" target="_blank">brute force</a>.
    </div>
</div>

<script>
    import {
        UPPER_CASE,
        LOWER_CASE,
        NUMBERS,
        SYMBOLS,
        generatePassword,
        escapeRegExp,
        formatDuration
    } from "@/util";

    const PASSWORD_SECURITY_LEVELS = [
        [50, "Insecure", "This password can be cracked in seconds or minutes using modern hardware.", "bg-red/30"],
        [60, "Weak", "Weak passwords are vulnerable to targeted attacks and may be guessed within hours or days.", "bg-yellow/30"],
        [90, "Strong", "This range offers a decent level of protection against brute-force attacks.", "bg-green/30"],
        [Infinity, "Very Strong", "This password offers maximum security.", "bg-blue/30"],
    ] as const;

    const outCharCountInSet = document.querySelector<HTMLSpanElement>("#set-char-count")!;
    const length = document.querySelector<HTMLInputElement>("#length")!;
    const outLength = document.querySelector<HTMLSpanElement>("#out-length")!;
    const charset = document.querySelector<HTMLInputElement>("#charset")!;
    const passwordBox = document.querySelector<HTMLInputElement>("#password-box")!;
    const gen = document.querySelector<HTMLButtonElement>("#gen")!;
    const chipsContainer = document.querySelector<HTMLDivElement>("#chips")!;
    const outEntropy = document.querySelector<HTMLSpanElement>("#entropy")!;
    const outStrength = document.querySelector<HTMLDivElement>("#out-strength")!;
    const outStrengthDescription = document.querySelector<HTMLDivElement>("#out-strength-description")!;
    const strengthContainer = outStrength.parentElement as HTMLDivElement;
    const outCrackingtime = document.querySelector<HTMLSpanElement>("#cracking-time")!;
    const allowDuplicates = document.querySelector<HTMLInputElement>("#allow-duplicates")!;
    const passwordSourceInfoContainer = document.querySelector<HTMLDivElement>("#password-source-info")!;
    const output = document.querySelector<HTMLDivElement>("#output")!;

    const getCharset = () => charset.value;

    const setGeneratePassword = () => {
        output.classList.remove("bg-yellow/30");
        output.classList.remove("bg-red/30");
        output.classList.add("bg-black/10");

        passwordSourceInfoContainer.textContent = "";

        passwordBox.value = generatePassword(+length.value, getCharset());
        updateEntropy();
    };

    const updateEntropy = (
        charCount = getCharset().length,
        len = +length.value
    ) => {
        const entropy = Math.log2(charCount) * len || 0;
        outEntropy.textContent = "" + Math.round(entropy * 100) / 100;

        outCrackingtime.textContent = formatDuration(2 ** entropy / 10 ** 12 / 2);

        const [
            _,
            title,
            desc,
            cls
        ] = PASSWORD_SECURITY_LEVELS.find(([en]) => en > entropy)!;
        if(outStrength.textContent === title) return;

        outStrength.textContent = title;
        outStrengthDescription.textContent = desc;

        for(const cls of strengthContainer.classList) {
            if(cls.startsWith("bg-")) {
                strengthContainer.classList.remove(cls);
                break;
            }
        }

        strengthContainer.classList.add(cls);
    };

    let commonPasswords: Set<string> | undefined,
        pending = false;

    passwordBox.oninput = () => {
        if(!commonPasswords && !pending) {
            pending = true;

            fetch("/rockyou-10000.txt").then(res => res.text()).then(text => {
                commonPasswords = new Set(text.split("\n"));
                pending = false;
            });
        }

        output.classList.remove("bg-black/10");

        if(commonPasswords && commonPasswords.has(passwordBox.value)) {
            output.classList.remove("bg-yellow/30");
            output.classList.add("bg-red/30");
            passwordSourceInfoContainer.textContent = "⚠️⚠️⚠️ THIS PASSWORD IS VERY COMMON. DO NOT USE!";
        } else {
            passwordSourceInfoContainer.textContent = "⚠️ This password was manually edited.";
            output.classList.remove("bg-red/30");
            output.classList.add("bg-yellow/30");
        }

        updateEntropy(
            new Set(passwordBox.value.split("")).size,
            passwordBox.value.length
        );
    };

    setGeneratePassword();

    gen.onclick = setGeneratePassword;

    length.oninput = () => {
        setGeneratePassword();
        outLength.textContent = length.value;
    };

    const CHIP_MAP = ([
        UPPER_CASE,
        LOWER_CASE,
        NUMBERS,
        SYMBOLS
    ] as const).map(letters => [
        letters,
        new RegExp(`[${escapeRegExp(letters)}]`)
    ] as const);

    const chips = Array
        .from(chipsContainer.children)
        .map(label => label.firstElementChild) as HTMLInputElement[];

    const chipIsActive = (chip: HTMLInputElement) => chip.checked;
    const activateChip = (chip: HTMLInputElement) => {
        chip.checked = true;
    };

    const deactivateChip = (chip: HTMLInputElement) => {
        chip.checked = false;
    };

    const setCharset = (charsetString: string) => {
        charset.value = charsetString;
        updateCharCountInSet();
    };

    const updateCharCountInSet = () => outCharCountInSet.textContent = "" + getCharset().length;

    chips.forEach((chip, i) => {
        let [LETTERS, re] = CHIP_MAP[i]!;
        re = new RegExp(re, "g");

        chip.oninput = () => {
            if(chipIsActive(chip)) {
                setCharset(LETTERS + getCharset().replaceAll(re, ""));
            } else {
                setCharset(getCharset().replaceAll(re, ""));
            }

            setGeneratePassword();
        };
    });

    allowDuplicates.oninput = () => {
        if(allowDuplicates.checked)
            return;

        // @ts-ignore
        charset.oninput();
    }

    let previousSelectionStart = 0;
    charset.onkeydown = e => {
        if(e.key === "Enter")
            e.preventDefault();
        previousSelectionStart = charset.selectionStart || 0;
    }

    charset.oninput = () => {
        if(allowDuplicates.checked) {
            setGeneratePassword();
            updateCharCountInSet();

            chips.forEach((chip, i) => {
                const [_, re] = CHIP_MAP[i]!;
                if(re.test(getCharset())) activateChip(chip);
                else deactivateChip(chip);
            });
            return;
        }

        const charsSeen = new Set<number>();
        let normalizedInput = "";

        for(const char of getCharset()) {
            const charValue = char.charCodeAt(0);

            if(!charsSeen.has(charValue)) {
                normalizedInput += char;
                charsSeen.add(charValue);
            }
        }

        if(charset.value.length === normalizedInput.length) {
            setGeneratePassword();
            updateCharCountInSet();

            chips.forEach((chip, i) => {
                const [_, re] = CHIP_MAP[i]!;
                if(re.test(getCharset())) activateChip(chip);
                else deactivateChip(chip);
            });
        } else {
            charset.value = normalizedInput;
            charset.selectionStart = charset.selectionEnd = previousSelectionStart;
        }
    };

    document.querySelector<HTMLInputElement>("#show-password")!.oninput = e => {
        // @ts-ignore
        passwordBox.type = e.currentTarget!.checked
            ? "text"
            : "password";
    };

    let lastInt: undefined | number;

    const copyPasswordButton = document.querySelector<HTMLButtonElement>("#copy")!;
    copyPasswordButton.onclick = () => {
        copyPasswordButton.textContent = "✓";

        navigator.clipboard.writeText(passwordBox.value);
        
        if(lastInt !== undefined) clearTimeout(lastInt);

        // @ts-ignore
        lastInt = setTimeout(() => copyPasswordButton.textContent = "Copy", 1000);
    };
</script>