---
import {
    UPPER_CASE,
    LOWER_CASE,
    NUMBERS,
    SYMBOLS
} from "@/util";
---

<div class="block mb-4 bg-black/10 rounded-3xl p-4 mt-12">
    <div class="text-xl font-semibold mb-4 text-black">
        Character set with
        unique characters:
        <span id="set-char-count">{(UPPER_CASE + LOWER_CASE + NUMBERS + SYMBOLS).length}</span>
    </div>
    <div class="flex flex-wrap mb-2 gap-2" id="chips">
        {([
            "Upper Case",
            "Lower Case",
            "Numbers",
            "Symbols"
        ] as const).map(x => (
            <button class="px-3 rounded-full text-white bg-black">
                {x} <span class="text-white">✓</span>
            </button>
        ))}
    </div>
    <input
        type="text"
        value={UPPER_CASE + LOWER_CASE + NUMBERS + SYMBOLS}
        id="charset"
        class="mt-1 w-full px-4 py-1 font-mono border border-black/20 mb-2 rounded-full bg-white"
    />
</div>
<label class="block mb-4 bg-black/10 p-4 rounded-3xl">
    <div class="text-xl font-semibold mb-4 text-black">
        Length: <span id="out-length">32</span>
    </div>
    <input
        type="range"
        class="accent-blue block mt-1 w-full"
        min="16"
        max="128"
        step="1"
        id="length"
        value="32"
    />
</label>
<div class="p-4 mb-4 bg-black/10 rounded-3xl">
    <div class="text-xl font-semibold mb-4 text-black">Output</div>
    <div class="flex mb-4">
        <label class="block mr-auto">
            <input
                type="checkbox"
                id="show-password"
                class="accent-blue"
            />
            Show Password
        </label>
        <button id="gen" class="text-white shrink-0 block bg-black hover:bg-black/80 active:bg-black/60 px-4 py-1 rounded-full font-semibold transition">
            Regenerate
        </button>
    </div>
    <div class="w-full flex rounded-full overflow-hidden mb-4">
        <input
            id="password-box"
            readonly
            type="password"
            class="outline-none w-full px-4 py-1 font-mono bg-black/10 select-none"
        />
        <button class="text-white bg-black hover:bg-black/80 active:bg-black/60 py-1 font-semibold transition w-20" id="copy">Copy</button>
    </div>
</div>
<div class="p-4 rounded-3xl bg-blue/30">
    <div class="text-xl font-semibold mb-4 text-black">
        Strength: <span id="entropy">210.24</span> bits
    </div>
    <div id="out-strength" class="text-2xl expanded font-bold mb-2">Very Strong</div>
    <div id="out-strength-description" class="mb-4">This password offers maximum security.</div>
    <div>
        It would <b>take <span id="cracking-time">???</span></b>
        to crack this password with the most powerful hardware (10¹² guesses per second) available using
        <a href="https://en.wikipedia.org/wiki/Brute-force_attack" target="_blank">brute force</a>.
    </div>
</div>

<script>
    import {
        UPPER_CASE,
        LOWER_CASE,
        NUMBERS,
        SYMBOLS,
        generatePassword,
        escapeRegExp,
        formatDuration
    } from "@/util";

    const PASSWORD_SECURITY_LEVELS = [
        [40, "Insecure", "This password can be cracked in seconds or minutes using modern hardware.", "bg-red/30"],
        [80, "Weak", "Weak passwords are vulnerable to targeted attacks and may be guessed within hours or days.", "bg-yellow/30"],
        [128, "Strong", "This range offers a decent level of protection against brute-force attacks.", "bg-green/30"],
        [100000, "Very Strong", "This password offers maximum security.", "bg-blue/30"],
    ] as const;

    const outCharCountInSet = document.querySelector<HTMLSpanElement>("#set-char-count")!;
    const length = document.querySelector<HTMLInputElement>("#length")!;
    const outLength = document.querySelector<HTMLSpanElement>("#out-length")!;
    const charset = document.querySelector<HTMLInputElement>("#charset")!;
    const passwordBox = document.querySelector<HTMLInputElement>("#password-box")!;
    const gen = document.querySelector<HTMLButtonElement>("#gen")!;
    const chipsContainer = document.querySelector<HTMLDivElement>("#chips")!;
    const outEntropy = document.querySelector<HTMLSpanElement>("#entropy")!;
    const outStrength = document.querySelector<HTMLDivElement>("#out-strength")!;
    const outStrengthDescription = document.querySelector<HTMLDivElement>("#out-strength-description")!;
    const strengthContainer = outStrength.parentElement as HTMLDivElement;
    const outCrackingtime = document.querySelector<HTMLSpanElement>("#cracking-time")!;
    
    const setGeneratePassword = () => {
        passwordBox.value = generatePassword(+length.value, charset.value);

        const entropy = Math.log2(charset.value.length) * +length.value;
        outEntropy.textContent = "" + Math.round(entropy * 100) / 100;

        outCrackingtime.textContent = formatDuration(2 ** entropy / 10 ** 12);

        const [_, title, desc, cls] = PASSWORD_SECURITY_LEVELS.find(([en]) => en > entropy)!;
        if(outStrength.textContent === title) return;

        outStrength.textContent = title;
        outStrengthDescription.textContent = desc;

        for(const cls of strengthContainer.classList) {
            if(cls.startsWith("bg-")) {
                strengthContainer.classList.remove(cls);
                break;
            }
        }

        strengthContainer.classList.add(cls);
    };

    setGeneratePassword();

    gen.onclick = setGeneratePassword;

    length.oninput = () => {
        setGeneratePassword();
        outLength.textContent = length.value;
    };

    const CHIP_MAP = ([
        UPPER_CASE,
        LOWER_CASE,
        NUMBERS,
        SYMBOLS
    ] as const).map(letters => [
        letters,
        new RegExp(`[${escapeRegExp(letters)}]`)
    ] as const);

    const chips = Array.from(chipsContainer.children) as HTMLButtonElement[];

    const chipIsActive = (chip: HTMLButtonElement) => chip.classList.contains("text-white");
    const activateChip = (chip: HTMLButtonElement) => {
        chip.classList.remove("bg-white");
        chip.classList.add("text-white", "bg-black");
    };

    const deactivateChip = (chip: HTMLButtonElement) => {
        chip.classList.remove("text-white", "bg-black");
        chip.classList.add("bg-white");
    };

    const setCharset = (charsetString: string) => {
        charset.value = charsetString;
        updateCharCountInSet();
    };

    const updateCharCountInSet = () => outCharCountInSet.textContent = "" + charset.value.length;

    chips.forEach((chip, i) => {
        let [LETTERS, re] = CHIP_MAP[i]!;
        re = new RegExp(re, "g");

        (chip as HTMLButtonElement).onclick = () => {
            if(chipIsActive(chip)) {
                setCharset(charset.value.replaceAll(re, ""));
                deactivateChip(chip);
            } else {
                setCharset(LETTERS + charset.value.replaceAll(re, ""));
                activateChip(chip);
            }

            setGeneratePassword();
        };
    });

    let oldValue = charset.value;

    charset.oninput = () => {
        if((new Set(charset.value.split(""))).size !== charset.value.length) {
            charset.value = oldValue;
            return;
        }

        setGeneratePassword();
        oldValue = charset.value;
        updateCharCountInSet();

        chips.forEach((chip, i) => {
            const [_, re] = CHIP_MAP[i]!;
            if(re.test(charset.value)) activateChip(chip);
            else deactivateChip(chip);
        });
    };

    document.querySelector<HTMLInputElement>("#show-password")!.oninput = e => {
        // @ts-ignore
        passwordBox.type = e.currentTarget!.checked
            ? "text"
            : "password";
    };

    let lastInt: undefined | number;

    const copyPasswordButton = document.querySelector<HTMLButtonElement>("#copy")!;
    copyPasswordButton.onclick = () => {
        copyPasswordButton.textContent = "✓";

        navigator.clipboard.writeText(passwordBox.value);
        
        if(lastInt !== undefined) clearTimeout(lastInt);

        // @ts-ignore
        lastInt = setTimeout(() => copyPasswordButton.textContent = "Copy", 1000);
    };
</script>