---
interface Props {
    title: string,
    href?: string,
}

const {title, href} = Astro.props;
---

<h3 class="expanded font-semibold text-2xl mt-6">
    {href ? (
        <a
            href={href}
            class="hover:bg-black/10 transition -ml-3 px-3 rounded-2xl active:bg-black/20"
        >
            {title}
            <span class="select-none text-black/30 [font-stretch:100%]">⬈</span>
        </a>

    ) : (
        <>{title}</>
    )}
</h3>
<p class="text-xl mt-3">
    <slot/>
</p>