@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-white: #FFF4E6;
    --color-black: #292626;
    --color-red: #FF5D41;
    --color-yellow: #FFDB5B;
    --color-blue: #2141c1;

    --breakpoint-xs: 420px;
    --breakpoint-sm: 600px;

    --font-sans: Inter, system-ui, sans-serif;
    --font-mono: ui-monospace, Consolas, monospace;
}

@layer base {
    strong, b {
        font-weight: 600;
    }

    * {
        @apply focus-visible:outline-2 outline-blue  outline-offset-2;
    }

    button {
        touch-action: manipulation;
        user-select: none;
    }

    select {
        @apply bg-black/10;
    }

    article h2 {
        @apply text-black expanded font-semibold text-3xl mt-12 mb-10;
    }

    article h3 {
        @apply text-black expanded font-semibold text-2xl my-8;
    }

    article h4 {
        @apply dark:text-black/90 font-medium text-xl mt-8 expanded;
    }

    article h4 {
        @apply text-black
    }

    article svg,
    article ul,
    article p,
    article ol,
    article blockquote,
    article pre,
    article img,
    article h5,
    article h6,
    article table {
        @apply mt-6;
    }

    article hr {
        @apply my-12 border-black/20;
    }

    article ul, ol {
        @apply pl-12;
    }

    article ul {
        @apply list-disc;
    }

    article ol {
        @apply list-decimal;
    }

    article li {
        @apply list-item;
    }

    article li > *:nth-child(1) {
        @apply m-0;
    }

    article blockquote {
        @apply relative pl-4 text-black/70;
    }

    article blockquote::before {
        content: "";
        @apply rounded-full block w-1 min-h-full bg-black/70 absolute left-0 top-0;
    }

    article code:not(pre code) {
        @apply inline-block bg-black/10 text-lg px-1 rounded-md;
    }

    article pre {
        @apply rounded-2xl p-4 whitespace-pre text-lg;
    }

    article pre code {
        @apply contents;
    }

    article img, article svg {
        @apply rounded-[32px];
    }

    article a:not(.x) {
        @apply underline text-blue hover:text-blue/80 active:text-blue/60;
    }

    article table {
        @apply block overflow-x-auto text-center border-collapse border-spacing-0;
    }

    article td, article th {
        @apply px-3 py-1 border border-[color-mix(in_srgb,theme(colors.white),theme(colors.black)_20%)];
    }

    article th {
        @apply bg-black/10 text-black;
    }

    .astro-code {
        @apply !bg-black/5 !text-black/90;
    }
}

@utility expanded {
    font-stretch: expanded;
}

/*
boxShadow: {
    button: "0 4px theme(colors.black)"
}
*/

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}