@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-shade-50: color(xyz-d65 0.8147800258096072 0.8525262034286928 0.8812988321215854);
    --color-shade-100: color(xyz-d65 0.7261715848052802 0.7575279326782401 0.7620059531457992);
    --color-shade-150: color(xyz-d65 0.6443769430098886 0.669830341642157 0.6529313767115161);
    --color-shade-200: color(xyz-d65 0.569124718225673 0.5891417628009261 0.5537160163016672);
    --color-shade-250: color(xyz-d65 0.4997478291432962 0.5152669415282566 0.4679734692481961);
    --color-shade-300: color(xyz-d65 0.43471682604607476 0.44821647303922074 0.4070771884571157);
    --color-shade-350: color(xyz-d65 0.37558722379738263 0.3872506668311481 0.35170709280921836);
    --color-shade-400: color(xyz-d65 0.32207831502296014 0.3320800984747689 0.3016003225252903);
    --color-shade-450: color(xyz-d65 0.27390939234853257 0.28241534354081704 0.256494017826273);
    --color-shade-500: color(xyz-d65 0.23079974839972822 0.23796697760005106 0.21612531893408637);
    --color-shade-550: color(xyz-d65 0.19246867580227595 0.19844557622320294 0.1802313660696353);
    --color-shade-600: color(xyz-d65 0.15863546718189164 0.16356171498100988 0.14854929945395823);
    --color-shade-650: color(xyz-d65 0.129019415164223 0.13302596944422432 0.12081625930877614);
    --color-shade-700: color(xyz-d65 0.103339812374989 0.10654891518358202 0.09676938585509656);
    --color-shade-750: color(xyz-d65 0.08131595143989734 0.08384112776982129 0.07614581931403594);
    --color-shade-800: color(xyz-d65 0.06266712498461233 0.06461318277369091 0.058682699907152594);
    --color-shade-850: color(xyz-d65 0.047112625634844224 0.04857565576592879 0.044117167855538576);
    --color-shade-900: color(xyz-d65 0.03437174601629485 0.03543912231727443 0.03218636338037105);
    --color-shade-950: color(xyz-d65 0.024163778754641187 0.024914157998473803 0.022627426703080572);

    /*
    --color-shade-50: color-mix(in oklch, var(--color-white) 95%, var(--color-black) 5%);
    --color-shade-100: color-mix(in oklch, var(--color-white) 90%, var(--color-black) 10%);
    --color-shade-200: color-mix(in oklch, var(--color-white) 80%, var(--color-black) 20%);
    --color-shade-300: color-mix(in oklch, var(--color-white) 70%, var(--color-black) 30%);
    --color-shade-400: color-mix(in oklch, var(--color-white) 60%, var(--color-black) 40%);
    --color-shade-500: color-mix(in oklch, var(--color-white) 50%, var(--color-black) 50%);
    --color-shade-600: color-mix(in oklch, var(--color-white) 40%, var(--color-black) 60%);
    --color-shade-700: color-mix(in oklch, var(--color-white) 30%, var(--color-black) 70%);
    --color-shade-800: color-mix(in oklch, var(--color-white) 20%, var(--color-black) 80%);
    --color-shade-900: color-mix(in oklch, var(--color-white) 10%, var(--color-black) 90%);
    --color-shade-950: color-mix(in oklch, var(--color-white) 5%, var(--color-black) 95%);
    */

    --color-white: oklch(0.985 0.01 67.707);
    --color-black: oklch(0.256 0 89.876);

    --color-red: #FF5D41;
    --color-yellow: #FFDB5B;
    --color-blue: #2141c1;

    --breakpoint-xs: 420px;
    --breakpoint-sm: 600px;

    --font-sans: Inter, system-ui, sans-serif;
    --font-mono: ui-monospace, "JetBrains Mono", Consolas, monospace;
}

@media (color-gamut: p3) {
    @theme {
        --color-shade-50: color(xyz-d65 0.8152899328134894 0.8523961735527162 0.8749289259064248);
        --color-shade-100: color(xyz-d65 0.7270732185463082 0.7573007996147538 0.7513496699012813);
        --color-shade-150: color(xyz-d65 0.6456547759715863 0.6695125530620003 0.638717518050713);
        --color-shade-200: color(xyz-d65 0.5707641675112759 0.5887395210202261 0.5366526982686607);
        --color-shade-250: color(xyz-d65 0.5010881034187742 0.5149413597409865 0.4547152090523802);
        --color-shade-300: color(xyz-d65 0.4358826935998273 0.447933258439929 0.39554419430486365);
        --color-shade-350: color(xyz-d65 0.37659451160314833 0.3870059747035017 0.3417428011226188);
        --color-shade-400: color(xyz-d65 0.32294209722500267 0.33187026698109734 0.2930556168656162);
        --color-shade-450: color(xyz-d65 0.27464399026165615 0.28223689372210803 0.2492272288938267);
        --color-shade-500: color(xyz-d65 0.23141873050934542 0.23781661337593327 0.21000222456749812);
        --color-shade-550: color(xyz-d65 0.192984857764397 0.19832018439194962 0.17512519124601558);
        --color-shade-600: color(xyz-d65 0.1590609118230444 0.16345836521955787 0.14434071628966066);
        --color-shade-650: color(xyz-d65 0.12936543248155316 0.13294191430814964 0.11739338705840413);
        --color-shade-700: color(xyz-d65 0.10361695953618896 0.10648159010711729 0.094027790912217);
        --color-shade-750: color(xyz-d65 0.08153403278321744 0.08378815106585295 0.07398851521106986);
        --color-shade-800: color(xyz-d65 0.0628351920188922 0.06457235563375159 0.05702014731504996);
        --color-shade-850: color(xyz-d65 0.04723897703950507 0.04854496226019924 0.042867274583875625);
        --color-shade-900: color(xyz-d65 0.03446392764130722 0.035416729394591284 0.031274484377655856);
        --color-shade-950: color(xyz-d65 0.02422858362056449 0.024898415486320023 0.02198636405636164);
    }
}

@layer base {
    strong, b {
        font-weight: 600;
    }

    * {
        -webkit-tap-highlight-color: transparent; /* for removing the highlight */

        @apply focus-visible:outline-2 outline-blue  outline-offset-2;
    }

    button {
        touch-action: manipulation;
        user-select: none;
    }

    select {
        @apply bg-shade-100;
    }

    article h2 {
        @apply text-black expanded font-semibold text-3xl mt-12 mb-10;
    }

    article h3 {
        @apply text-black expanded font-semibold text-2xl my-8;
    }

    article h4 {
        @apply dark:text-shade-900 font-medium text-xl mt-8 expanded;
    }

    article h4 {
        @apply text-black
    }

    article svg,
    article ul,
    article p,
    article ol,
    article blockquote,
    article pre,
    article img,
    article h5,
    article h6,
    article table {
        @apply mt-6;
    }

    article hr {
        @apply my-12 border-shade-200;
    }

    article ul, ol {
        @apply pl-12;
    }

    article ul {
        @apply list-disc;
    }

    article ol {
        @apply list-decimal;
    }

    article li {
        @apply list-item;
    }

    article li > *:nth-child(1) {
        @apply m-0;
    }

    article blockquote {
        @apply relative pl-4 text-shade-700;
    }

    article blockquote::before {
        content: "";
        @apply rounded-full block w-1 min-h-full bg-shade-700 absolute left-0 top-0;
    }

    article code:not(pre code) {
        @apply inline-block bg-shade-100 text-lg px-1 rounded-md;
    }

    article pre {
        @apply rounded-2xl p-4 whitespace-pre text-lg;
    }

    article pre code {
        @apply contents;
    }

    article img, article svg {
        @apply rounded-[32px];
    }

    article a:not(.x) {
        @apply underline text-blue hover:text-blue/80 active:text-blue/60;
    }

    article table {
        @apply block overflow-x-auto text-center border-collapse border-spacing-0;
    }

    article td, article th {
        @apply px-3 py-1 border border-[color-mix(in_srgb,theme(colors.white),theme(colors.black)_20%)];
    }

    article th {
        @apply bg-shade-100 text-black;
    }

    .astro-code {
        @apply !bg-shade-50 !text-shade-900;
    }
}

@utility expanded {
    font-stretch: expanded;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}