@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-white: #fff;
    --color-black: #000;

    --hue: 230;

    --color-shade-50:  oklch(0.95 20% var(--hue));
    --color-shade-100: oklch(0.93 20% var(--hue));
    --color-shade-200: oklch(0.86 20% var(--hue));
    --color-shade-300: oklch(0.79 20% var(--hue));
    --color-shade-400: oklch(0.72 20% var(--hue));
    --color-shade-500: oklch(0.65 20% var(--hue));
    --color-shade-600: oklch(0.58 20% var(--hue));
    --color-shade-700: oklch(0.51 20% var(--hue));
    --color-shade-800: oklch(0.44 20% var(--hue));
    --color-shade-900: oklch(0.36 20% var(--hue));
    --color-shade-950: oklch(0.28 20% var(--hue));

    --color-accent-50:  oklch(0.95 50% calc(var(--hue) + 180));
    --color-accent-100: oklch(0.93 50% calc(var(--hue) + 180));
    --color-accent-200: oklch(0.86 50% calc(var(--hue) + 180));
    --color-accent-300: oklch(0.79 50% calc(var(--hue) + 180));
    --color-accent-400: oklch(0.72 50% calc(var(--hue) + 180));
    --color-accent-500: oklch(0.65 50% calc(var(--hue) + 180));
    --color-accent-600: oklch(0.58 50% calc(var(--hue) + 180));
    --color-accent-700: oklch(0.51 50% calc(var(--hue) + 180));
    --color-accent-800: oklch(0.44 50% calc(var(--hue) + 180));
    --color-accent-900: oklch(0.36 50% calc(var(--hue) + 180));
    --color-accent-950: oklch(0.28 50% calc(var(--hue) + 180));
}

@media (prefers-color-scheme: light) {
    :root {
        --color-shade-50:  oklch(0.28 5% var(--hue));
        --color-shade-100: oklch(0.36 5% var(--hue));
        --color-shade-200: oklch(0.44 5% var(--hue));
        --color-shade-300: oklch(0.51 5% var(--hue));
        --color-shade-400: oklch(0.58 5% var(--hue));
        --color-shade-500: oklch(0.65 5% var(--hue));
        --color-shade-600: oklch(0.72 5% var(--hue));
        --color-shade-700: oklch(0.79 5% var(--hue));
        --color-shade-800: oklch(0.86 5% var(--hue));
        --color-shade-900: oklch(0.93 5% var(--hue));
        --color-shade-950: oklch(0.95 5% var(--hue));

        --color-accent-50:  oklch(0.28 20% calc(var(--hue) + 180));
        --color-accent-100: oklch(0.36 20% calc(var(--hue) + 180));
        --color-accent-200: oklch(0.44 20% calc(var(--hue) + 180));
        --color-accent-300: oklch(0.51 20% calc(var(--hue) + 180));
        --color-accent-400: oklch(0.58 20% calc(var(--hue) + 180));
        --color-accent-500: oklch(0.65 20% calc(var(--hue) + 180));
        --color-accent-600: oklch(0.72 20% calc(var(--hue) + 180));
        --color-accent-700: oklch(0.79 20% calc(var(--hue) + 180));
        --color-accent-800: oklch(0.86 20% calc(var(--hue) + 180));
        --color-accent-900: oklch(0.93 20% calc(var(--hue) + 180));
        --color-accent-950: oklch(0.95 20% calc(var(--hue) + 180));

        --color-white: #000;
        --color-black: #fff;
    }
}

@layer base {
    * {
        @apply selection:bg-accent-700 selection:text-white;
    }
}